@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 50px 0;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.credit {
  margin: 20px 0;
}

.main {
  padding: 20px 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.form-buttons {
  margin-top: 10px;
}

.checkbox-bottom {
  margin-top: 15px !important;
}

.tab-pane-margin {
  margin-top: 10px;
}

.input-balance {
  width: 140px;
}

.status-circle {
  display: inline-block;
  font-size: 0;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.status-online {
  background-color: #5cb85c;
}

.status-offline {
  background-color: #999;
}

.status-left {
  margin-right: 10px;
}

.status-right {
  margin-left: 10px;
}

.login-button {
  width: 202px;
  height: 46px;
  padding: 0;
  margin: 0;
  background-size: 202px 46px;
  background-image: url('../img/login.png');
}

.loading {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  background-size: 32px 32px;
  background-image: url('../img/loading.gif');
}

@media (-webkit-min-device-pixel-ratio: 1.1) {
  .login-button {
    background-image: url('../img/login@2x.png');
  }

  .loading {
    background-image: url('../img/loading@2x.gif');
  }
}

.icon-space {
  margin-right: 10px;
}

.glyphicon-wrench:before {
  content: "\e136";
}

.drop-selected {
  background-color: #e7e7e7;
}
