<form class="form-horizontal" name="optionsForm">
  <div class="form-group" ng-class="{ 'has-error': optionsForm.initialDate.$error.required }">
    <label class="col-lg-2 control-label">Data inicial</label>
    <div class="col-lg-4">
      <input name="initialDate" ng-disabled="edit" type="text" class="form-control" placeholder="dd/mm/aaa" ng-model="config.initialDate" required>
    </div>
  </div>
  <div class="form-group">
    <div class="form-buttons col-lg-offset-2 col-lg-6">
      <a href="#" ng-click="goBack()" class="btn btn-default">Cancelar</a>
      <button ng-click="update()" ng-disabled="optionsForm.$invalid" class="btn btn-primary">Editar</button>
    </div>
  </div>
</form>
