<keybinding on="esc" invoke="goBack()" />
<div class="panel panel-default">
  <div class="panel-body">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="round"> Arredondar
      </label>
    </div>
    <div class="checkbox checkbox-bottom">
      <label>
        <input type="checkbox" ng-model="optimal"> Exibir otimiza&ccedil;&otilde;es
      </label>
    </div>
  </div>
</div>
<div>
  <button ng-click="goBack()" class="btn btn-default">Cancelar</button>
  <button ng-click="update()" class="btn btn-primary">Confirmar</button>
</div>
