<keybinding on="esc" invoke="goBack()" />
<ul class="nav nav-tabs">
  <li class="active"><a href="#json" data-toggle="tab">Firebase (JSON)</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane tab-pane-margin active" id="json">
    <pre class="pre-scrollable">{{ years | json }}</pre>
    <div>
      <button ng-click="delete()" ng-disabled="deleted" ng-show="!confirm" class="btn btn-danger">Remover tudo</button>
      <button ng-click="deleteConfirm()" ng-show="confirm" class="btn btn-danger">Confirmar</button>
    </div>
  </div>
</div>
