<keybinding on="esc" invoke="goBack()" />
<form class="form-horizontal" name="detailForm">
  <div class="form-group" ng-class="{ 'has-error': (detailForm.date.$error.required || detailForm.date.$error.recordDate) }">
    <label class="col-lg-2 control-label">Dia</label>
    <div class="col-lg-4">
      <input name="date" ng-disabled="edit" type="text" class="form-control mousetrap" placeholder="dd/mm/aaaa" ng-model="date" required record-date>
    </div>
  </div>
  <div ng-hide="adjust" class="form-group" ng-class="{ 'has-error': detailForm.entry1.$error.recordTime }">
    <label class="col-lg-2 control-label">Entrada 1</label>
    <div class="col-lg-4">
      <input name="entry1" type="number" class="form-control mousetrap" placeholder="H:mm" ng-model="record.entry1" record-time>
    </div>
  </div>
  <div ng-hide="adjust" class="form-group" ng-class="{ 'has-error': detailForm.exit1.$error.recordTime }">
    <label class="col-lg-2 control-label">Sa&iacute;da 1</label>
    <div class="col-lg-4">
      <input name="exit1" type="number" class="form-control mousetrap" placeholder="H:mm" ng-model="record.exit1"  record-time>
    </div>
  </div>
    <div ng-hide="adjust" class="form-group" ng-class="{ 'has-error': detailForm.entry2.$error.recordTime }">
    <label class="col-lg-2 control-label">Entrada 2</label>
    <div class="col-lg-4">
      <input name="entry2" type="number" class="form-control mousetrap" placeholder="H:mm" ng-model="record.entry2" record-time>
    </div>
  </div>
  <div ng-hide="adjust" class="form-group" ng-class="{ 'has-error': detailForm.exit2.$error.recordTime }">
    <label class="col-lg-2 control-label">Sa&iacute;da 2</label>
    <div class="col-lg-4">
      <input name="exit2" type="number" class="form-control mousetrap" placeholder="H:mm" ng-model="record.exit2" record-time>
    </div>
  </div>
  <div ng-show="adjust" class="form-group" ng-class="{ 'has-error': (detailForm.adjust.$error.required || detailForm.adjust.$error.adjust) }">
    <label class="col-lg-2 control-label">Ajuste</label>
    <div class="col-lg-4">
      <input name="adjust" type="text" class="form-control mousetrap" placeholder="H:mm OU 0 para zerar" ng-model="record.adjust" adjust>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Nota</label>
    <div class="col-lg-4">
      <input name="note" type="text" class="form-control mousetrap" placeholder="Nota" ng-model="record.note">
    </div>
  </div>
  <div ng-show="adjust" class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <div class="checkbox">
        <label>
          <input name="adjustTotalBalance" type="checkbox" ng-model="record.adjustTotalBalance"> Valor do saldo total
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-buttons col-lg-offset-2 col-lg-6">
      <a ng-click="goBack()" class="btn btn-default">Cancelar</a>
      <button ng-click="apply()" ng-disabled="detailForm.$invalid" class="btn btn-primary"><span ng-show="edit">Confirmar</span><span ng-show="!edit">Criar</span></button>
      <a ng-click="delete()" ng-show="edit && !confirm" class="btn btn-danger">Remover</a>
      <a ng-click="deleteConfirm()" ng-show="edit && confirm" class="btn btn-danger">Confirmar</a>
    </div>
  </div>
</form>
