<keybinding on="esc" invoke="goBack()" />
<h4>O que &eacute;?</h4>
<p>Meu Ponto &eacute; um aplicativo para controlar os seus hor&aacute;rios de entrada e sa&iacute;da do trabalho e saldo total de horas.</p>
<h4>Como usar?</h4>
<p>Voc&ecirc; precisa registrar os hor&aacute;rios de entrada e sa&iacute;da do trabalho em cada dia. Os registros s&atilde;o exibidos em uma tabela, separados por meses, juntamente com os saldos di&aacute;rio e total. Saldos na cor vermelha indicam valores negativos. Selecionando um registro &eacute; poss&iacute;vel edit&aacute;-lo ou remov&ecirc;-lo.</p>
<h4>Registros</h4>
<p>Para inserir um registro, selecione <strong>Novo registro</strong>. Opcionalmente, &eacute; poss&iacute;vel adicionar uma nota em cada registro, o que &eacute; &uacute;til para lembrar o motivo de um atraso, por exemplo.</p>
<h4>Ajustes</h4>
<p>Al&eacute;m dos registros, voc&ecirc; tamb&eacute;m pode inserir ajustes. Um ajuste permite alterar o saldo final, adicionando/subtraindo horas ou reiniciando seu total.</p>
<h4>Dados</h4>
<p>Selecionando a op&ccedil;&atilde;o <strong>Dados</strong>, &eacute; poss&iacute;vel ver os dados armazenados em nossos servidores, remov&ecirc;-los totalmente ou exibi-los em formato CSV.</p>
<h4>Arredondamentos</h4>
<p>Em <strong>Configura&ccedil;&otilde;es</strong>, marcando <em>Arredondar</em>, o saldo di&aacute;rio &eacute; calculado segundo algumas regras de arredondamento.</p>
<h4>Otimiza&ccedil;&otilde;es</h4>
<p>Otimiza&ccedil;&otilde;es s&atilde;o as horas exibidas em cor mais clara nos registros incompletos. Elas servem de guia para que a jornada de trabalho seja completada de forma &oacute;tima. A exibi&ccedil;&atilde;o das otimiza&ccedil;&otilde;es pode ser desativada em <strong>Configura&ccedil;&otilde;es</strong>.</p>
<h4>Formatos aceitos</h4>
<p>As datas abaixo são equivalentes:</p>
<ul>
  <li><code>02/09/2015</code></li>
  <li><code>02/09/15</code></li>
  <li><code>02/9/2015</code></li>
  <li><code>02/9/15</code></li>
  <li><code>2/09/2015</code></li>
  <li><code>2/09/15</code></li>
  <li><code>2/9/2015</code></li>
  <li><code>2/9/15</code></li>
</ul>
<p>As horas abaixo são equivalentes:</p>
<ul>
  <li><code>09:00</code></li>
  <li><code>09 00</code></li>
  <li><code>09 0</code></li>
  <li><code>9 00</code></li>
  <li><code>9 0</code></li>
  <li><code>9</code></li>
</ul>
<h4>Atalhos de teclado</h4>
<ul>
  <li><code>cmd</code>+<code>return</code>: Criar novo registro</li>
  <li><code>cmd</code>+<code>shift</code>+<code>return</code>: Criar/editar registro na data atual</li>
  <li><code>escape</code>: Retornar para a listagem</li>
</ul>
