<keybinding on="esc" invoke="goBack()" />
<h1>Ajuda</h1>
<h2>O que &eacute;?</h2>
<p>Meu Ponto &eacute; um aplicativo para controlar os seus hor&aacute;rios de entrada e sa&iacute;da do trabalho e saldo total de horas.</p>
<h2>Como usar?</h2>
<p>Voc&ecirc; precisa registrar os hor&aacute;rios de entrada e sa&iacute;da do trabalho em cada dia. Os registros s&atilde;o exibidos em uma tabela, separados por meses, juntamente com os saldos di&aacute;rio e total. Saldos na cor vermelha indicam valores negativos. Selecionando um registro &eacute; poss&iacute;vel edit&aacute;-lo ou remov&ecirc;-lo.</p>
<h2>Registros</h2>
<p>Para inserir um registro, selecione <strong>Novo registro</strong>. Opcionalmente, &eacute; poss&iacute;vel adicionar uma nota em cada registro, o que &eacute; &uacute;til para lembrar o motivo de um atraso, por exemplo.</p>
<h2>Ajustes</h2>
<p>Al&eacute;m dos registros, voc&ecirc; tamb&eacute;m pode inserir ajustes. Um ajuste permite alterar o saldo final, adicionando/subtraindo horas ou reiniciando seu total.</p>
<h2>Dados</h2>
<p>Selecionando a op&ccedil;&atilde;o <strong>Dados</strong>, &eacute; poss&iacute;vel ver os dados armazenados em nossos servidores, remov&ecirc;-los totalmente ou exib&iacute;-los em formato CSV.</p>
<h2>Arredondamentos</h2>
<p>Em <strong>Configura&ccedil;&otilde;es</strong>, marcando <em>Arredondar</em>, o saldo di&aacute;rio &eacute; calculado segundo algumas regras de arredondamento.</p>
<h2>Otimiza&ccedil;&otilde;es</h2>
<p>Otimiza&ccedil;&otilde;es s&atilde;o as horas exibidas em cor mais clara nos registros incompletos. Elas servem de guia para que a jornada de trabalho seja completada de forma &oacute;tima. A exibi&ccedil;&atilde;o das otimiza&ccedil;&otilde;es pode ser desativada em <strong>Configura&ccedil;&otilde;es</strong>.</p>
