<keybinding on="mod+enter" invoke="create(false)" />
<keybinding on="mod+shift+enter" invoke="editToday()" />
<div class="visible-xs"><button type="button" class="btn btn-default btn-block btn-now-space" ng-click="editToday(true)">Registrar agora!</button></div>
<div class="hidden-xs">
  <div class="alert alert-warning" ng-hide="hasRecords(rows)"><strong>Ooops...</strong> Nenhum registro encontrado! <a href="#/create" class="alert-link">Criar novo registro</a>.</div>
</div>
<ul class="nav nav-tabs" ng-show="hasRecords(rows)">
  <li ng-repeat="(year, months) in rows" ng-class="{ 'active': $last }"><a href="#tab{{ year }}" data-toggle="tab">{{ year }}</a></li>
</ul>
<div class="tab-content" ng-show="hasRecords(rows)">
  <div class="tab-pane tab-pane-margin" ng-class="{ 'active': $last }" ng-repeat="(year, months) in rows" id="tab{{ year }}">
    <div class="panel-group" id="accordion{{ year }}">
      <div class="panel panel-default" ng-repeat="(month, days) in months">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{ year }}" href="#{{ year + month }}">{{ month | monthName }}</a>
        </div>
        <div id="{{ year + month }}" class="panel-collapse collapse" ng-class="{ 'in': $parent.$last && $last }">
          <div class="panel-body">
            <div class="hidden-xs">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Dia</th>
                    <th>Entrada 1</th>
                    <th>Sa&iacute;da 1</th>
                    <th>Entrada 2</th>
                    <th>Sa&iacute;da 2</th>
                    <th>Nota</th>
                    <th>Saldo</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="cursor-pointer" ng-repeat="(day, row) in days" ng-class="{ 'active': isControl(day) }" ng-click="edit( year + '-' + month + '-' + day )">
                    <td><span class="hint--top" data-hint="{{ year + month + day | dayOfWeek }}"><strong>{{ day | dayWithoutMark }}</strong></span></td>
                    <td><span ng-class="{ 'text-muted': row.entry1.optimal }">{{ row.entry1.display }}</span></td>
                    <td><span ng-class="{ 'text-muted': row.exit1.optimal }">{{ row.exit1.display }}</span></td>
                    <td><span ng-class="{ 'text-muted': row.entry2.optimal }">{{ row.entry2.display }}</span></td>
                    <td><span ng-class="{ 'text-muted': row.exit2.optimal }">{{ row.exit2.display }}</span></td>
                    <td>
                      <span ng-show="row.note" class="hint--top" data-hint="{{ row.note }}"><span class="glyphicon glyphicon-file"></span></span>
                      <span ng-show="!row.note" class="glyphicon glyphicon-file text-muted"></span>
                    </td>
                    <td><span class="label" ng-class="{ 'label-success': row.balance.value >= 0, 'label-danger': row.balance.value < 0 }">{{ row.balance.display }}</span></td>
                    <td><span class="label" ng-class="{ 'label-success': row.total.value >= 0, 'label-danger': row.total.value < 0 }">{{ row.total.display }}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="visible-xs">
              <table class="table">
                <thead>
                  <tr>
                    <th>Dia</th>
                    <th>Entr.</th>
                    <th>Saíd.</th>
                    <th>Saldo</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(day, row) in days" ng-class="{ 'active': isControl(day) }" ng-click="edit( year + '-' + month + '-' + day )">
                    <td class="v-aligned" ng-class="{ 'has-note': row.note }" ><span><strong>{{ day | dayWithoutMark }}</strong></span></td>
                    <td>
                      <span ng-class="{ 'text-muted': row.entry1.optimal }">{{ row.entry1.display }}</span><br>
                      <span ng-class="{ 'text-muted': row.entry2.optimal }">{{ row.entry2.display }}</span>
                    </td>
                    <td>
                      <span ng-class="{ 'text-muted': row.exit1.optimal }">{{ row.exit1.display }}</span><br>
                      <span ng-class="{ 'text-muted': row.exit2.optimal }">{{ row.exit2.display }}</span>
                    </td>
                    <td class="v-aligned"><span class="label" ng-class="{ 'label-success': row.balance.value >= 0, 'label-danger': row.balance.value < 0 }">{{ row.balance.display }}</span></td>
                    <td class="v-aligned"><span class="label" ng-class="{ 'label-success': row.total.value >= 0, 'label-danger': row.total.value < 0 }">{{ row.total.display }}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
