<keybinding on="n" invoke="create(false)" />
<ul class="nav nav-tabs">
  <li ng-init="lastYear = getLast(years)" ng-repeat="(year, months) in years" ng-class="{ 'active': lastYear == $index }" ng-hide="$last"><a href="#tab{{ year }}" data-toggle="tab">{{ year }}</a></li>
</ul>
<div class="tab-content">
  <div ng-init="lastYear = getLast(years)" class="tab-pane tab-pane-margin" ng-class="{ 'active': lastYear == $index }" ng-repeat="(year, months) in years" ng-hide="$last" id="tab{{ year }}">
    <div class="panel-group" id="accordion{{ year }}">
      <div class="panel panel-default" ng-init="lastMonth = getLast(months)" ng-repeat="(month, days) in months" ng-hide="$last">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{ year }}" href="#{{ year + month }}">{{ month | monthName }}</a>
        </div>
        <div id="{{ year + month }}" class="panel-collapse collapse" ng-class="{ 'in': lastYear == $parent.$index && lastMonth == $index }">
          <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Dia</th>
                  <th>Entrada 1</th>
                  <th>Sa&iacute;da 1</th>
                  <th>Entrada 2</th>
                  <th>Sa&iacute;da 2</th>
                  <th>Nota</th>
                  <th>Saldo</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="cursor-pointer" ng-repeat="(day, record) in days" ng-class="{ 'active': isControl(day) }" ng-hide="$last" ng-click="edit( year + '-' + month + '-' + day )">
                  <td ng-init="row = getRow(record)"><span class="hint--top" data-hint="{{ year + month + day | dayOfWeek }}"><strong>{{ day | dayWithoutMark }}</strong></span></td>
                  <td><span ng-class="{ 'text-muted': row.entry1.optimal }">{{ row.entry1.display }}</span></td>
                  <td><span ng-class="{ 'text-muted': row.exit1.optimal }">{{ row.exit1.display }}</span></td>
                  <td><span ng-class="{ 'text-muted': row.entry2.optimal }">{{ row.entry2.display }}</span></td>
                  <td><span ng-class="{ 'text-muted': row.exit2.optimal }">{{ row.exit2.display }}</span></td>
                  <td>
                    <span ng-show="row.note" class="hint--top" data-hint="{{ row.note }}"><span class="glyphicon glyphicon-file"></span></span>
                    <span ng-show="!row.note" class="glyphicon glyphicon-file text-muted"></span>
                  </td>
                  <td><span class="label" ng-class="{ 'label-success': row.balance.value >= 0, 'label-danger': row.balance.value < 0 }">{{ row.balance.display }}</span></td>
                  <td><span class="label" ng-class="{ 'label-success': row.total.value >= 0, 'label-danger': row.total.value < 0 }">{{ row.total.display }}</span></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
