<button ng-click="create()" class="btn btn-primary">Criar novo registro</button>
<div ng-init="lastYear = getLast(years)" ng-repeat="(year, months) in years" ng-hide="$last"><h3>{{ year }}</h3>
<div class="panel-group" id="accordion{{ year }}">
  <div class="panel panel-default" ng-init="lastMonth = getLast(months)" ng-repeat="(month, days) in months" ng-hide="$last">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{ year }}" href="#{{ year + month }}">{{ month | monthName }}</a>
    </div>
    <div id="{{ year + month }}" class="panel-collapse collapse" ng-class="{ 'in': lastYear == $parent.$index && lastMonth == $index }">
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Dia</th>
              <th>Entrada 1</th>
              <th>Sa&iacute;da 1</th>
              <th>Entrada 2</th>
              <th>Sa&iacute;da 2</th>
              <th>Nota</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cursor-pointer" ng-repeat="(day, record) in days" ng-hide="$last" ng-click="edit( year + '-' + month + '-' + day )">
              <td ng-init="row = getRow(record)"><span title="{{ year + month + day | dayOfWeek }}"><strong>{{ day }}</strong></span></td>
              <td><span ng-class="{ 'text-muted': row.entry1.optimal }">{{ row.entry1.display }}</span></td>
              <td><span ng-class="{ 'text-muted': row.exit1.optimal }">{{ row.exit1.display }}</span></td>
              <td><span ng-class="{ 'text-muted': row.entry2.optimal }">{{ row.entry2.display }}</span></td>
              <td><span ng-class="{ 'text-muted': row.exit2.optimal }">{{ row.exit2.display }}</span></td>
              <td><span class="glyphicon glyphicon-file" ng-class="{ 'text-muted': !row.note }" title="{{ row.note }}"></span></td>
              <td><span class="label" ng-class="{ 'label-success': row.balance.value >= 0, 'label-danger': row.balance.value < 0 }">{{ row.balance.display }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div ng-show="config.initialDate">
  <h4>Saldo desde <span ng-click="goConfig()"class="cursor-pointer"><u>{{ config.initialDate }}</u></span></h4>
  <ul>
    <li>Oficial: <span ng-init="updateTotalBalance(true)" class="label" ng-class="{ 'label-success': totalBalance.value >= 0, 'label-danger': totalBalance.value < 0 }">{{ totalBalance.display }}</span></li>
    <li>Sem arredondamentos: <span ng-init="updateTotalBalance(false)" class="label" ng-class="{ 'label-success': totalBalanceNoRound.value >= 0, 'label-danger': totalBalanceNoRound.value < 0 }">{{ totalBalanceNoRound.display }}</span></li>
  </ul>
</div>
