<div class="title">
  <h1>Meu Ponto</h1>
  <p class="lead">Agora ficou f&aacute;cil controlar os hor&aacute;rios de entrada e sa&iacute;da do trabalho!</p>
  <div class="login-button cursor-pointer" ng-click="login()"></div>
  <div><input type="checkbox" ng-model="$parent.rememberMe"> <span ng-click="$parent.rememberMe = !$parent.rememberMe">Mantenha-me logado</span></div>
</div>
<div class="row">
  <div class="col-lg-6">
    <h4><span class="glyphicon glyphicon-cloud-upload icon-space"></span>Nuvem</h4>
    <p>Dados sincronizados na nuvem em tempo real.</p>
  </div>
  <div class="col-lg-6">
    <h4><span class="glyphicon glyphicon-resize-horizontal icon-space"></span>Responsivo</h4>
    <p>Suporte para diferentes dispositivos.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <h4><span class="glyphicon glyphicon-thumbs-up icon-space"></span>Gr&aacute;tis</h4>
    <p>Projeto de c&oacute;digo aberto, totalmente gratuito.</p>
  </div>
  <div class="col-lg-6">
    <h4><span class="glyphicon glyphicon-cog icon-space"></span>Flex&iacute;vel</h4>
    <p>Permite ajustes, arredondamentos e configura&ccedil;&otilde;es.</p>
  </div>
</div>
<div class="text-muted fb-note"><small>N&atilde;o postaremos nada em seu Facebook! Utilizamos o Facebook apenas para facilitar a identifica&ccedil;&atilde;o dos usu&aacute;rios.</small></div>
