<!DOCTYPE html>
<html ng-app="meuponto" manifest="manifest.appcache">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Meu Ponto</title>
    <link rel="shortcut icon" href="favicon.ico?v=__VERSION__">
    <link rel="apple-touch-icon" href="apple-touch-icon.png?v=__VERSION__">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/hint.min.css" rel="stylesheet">
    <link href="css/meuponto-__VERSION_SUFIX__.css" rel="stylesheet">
    <script type="text/javascript">var FIREBASE_URL = '__FIREBASE_URL__';</script>
    <script src="js/libs-__VERSION__.min.js"></script>
    <script src="js/meuponto-__VERSION_SUFIX__.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button ng-show="user" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#meuponto-navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="#/">Meu Ponto</a>
            <a class="navbar-brand visible-xs" href="#/">Meu Ponto<div class="status-circle status-right" ng-show="user" ng-class="{ 'status-online': isOn, 'status-offline': !isOn }"></div></a>
          </div>
          <div class="collapse navbar-collapse" id="meuponto-navbar">
            <ul class="nav navbar-nav" ng-show="user">
              <li ng-class="{ 'active': (menu == 'create') }"><a href="#/create"><span class="glyphicon glyphicon-time icon-space"></span>Novo registro</a></li>
              <li ng-class="{ 'active': (menu == 'adjust') }"><a href="#/create/adjust"><span class="glyphicon glyphicon-wrench icon-space"></span>Novo ajuste</a></li>
              <li class="visible-xs" ng-class="{ 'active': (menu == 'data') }"><a href="#/data"><span class="glyphicon glyphicon-hdd icon-space"></span>Dados</a></li>
              <li class="visible-xs" ng-class="{ 'active': (menu == 'config') }"><a href="#/config"><span class="glyphicon glyphicon-cog icon-space"></span>Configura&ccedil;&otilde;es</a></li>
              <li class="visible-xs"><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out icon-space"></span>Sair - {{ user.name }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-class="{ 'hidden-xs': user }" ng-show="user">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="status-circle status-left" ng-class="{ 'status-online': isOn, 'status-offline': !isOn }"></div>{{ user.name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li ng-class="{ 'drop-selected': (menu == 'data') }"><a href="#/data"><span class="glyphicon glyphicon-hdd icon-space"></span>Dados</a></li>
                  <li ng-class="{ 'drop-selected': (menu == 'config') }"><a href="#/config"><span class="glyphicon glyphicon-cog icon-space"></span>Configura&ccedil;&otilde;es</a></li>
                  <li class="divider"></li>
                  <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out icon-space"></span>Sair</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container main" ng-show="!loggedInOut || (user && !years)"><div class="loading"></div></div>
      <div class="container main" ng-show="loggedInOut && !user"><div class="login-button cursor-pointer" ng-click="login()"></div></div>
      <div class="container main" ng-show="loggedInOut && user && years">
        <div class="alert alert-success cursor-pointer" ng-show="updateReady" ng-click="applyUpdate()">
          <strong>Nova vers&atilde;o!</strong> Clique aqui para aplicar.
        </div>
        <div ng-view></div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <div class="text-muted credit pull-left"><a href="http://github.com/rafaelwmartins/meu-ponto" target="_blank">GitHub</a></div>
        <div class="text-muted credit pull-right">__VERSION__</div>
      </div>
    </div>
  </body>
</html>
